@font-face {
  font-family: "YourFontName";
  src: url("../font/Starjedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color: #ffffff;
  --border-radius: 8px;
  /* font-family: "Star Wars", sans-serif; */
  font-family: "YourFontName", sans-serif;
}

body {
  background-image: url("../img/background-image.png");
  background-size: cover;
  background-attachment: fixed;
}

section {
  /* backdrop-filter: blur(10px); */
  min-height: fit-content;
  padding: 1vw;
}

#content {
  margin: 0.1vh;
  width: max;
  height: 85vh;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
  display: flex;
  border-radius: var(--border-radius);
}

#content svg {
  width: 100%;
  height: 100%;
  cursor: default;
  border-radius: var(--border-radius);
  padding: 2px;
  margin: 5px;
}

#episodeForm {
  width: 100%;
  height: max;
  display: flex;
}

#episodeForm div {
  width: 100%;
  margin: 5px;
  margin-top: 1vw;
}

#episodeForm form {
  width: 80%;
  background-color: var(--bg-color);
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); */
  border-radius: var(--border-radius);
  padding: 2vw;
}

.context {
  background-color: var(--bg-color);
  border-radius: var(--border-radius);
  padding: 1vh;
}

line {
  stroke: #bfb6b6;
}
